@import url('https://fonts.googleapis.com/css2?family=Abel&family=Raleway:wght@500&display=swap');
//variables
$font-title: 'Raleway', sans-serif;
$font-text: 'Abel', sans-serif;
$color-nav: aliceblue;
$color-left: #789f0c;
$color-right: #ffe100;
